<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules>
        <!-- Remove WebDAV module to allow CORS OPTIONS preflight and PUT/DELETE verbs -->
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <!-- Remove WebDAV handler to prevent blocking OPTIONS/PUT/DELETE -->
        <remove name="WebDAV" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\Task-Management.Api.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
